body {
    background-color: rgb(93, 68, 68);
    color: white;
    font-size: 2vw;
}
.container {
    width: 80%;
    margin: auto;
}

.subdiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    width: 60%;
    margin: auto;
    padding: 10px;
    align-items: center;
}

#dataTable {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 7px;
}

th, td {
    background-color: #96D4D4;
    color: darkblue;
    border: 3px solid rgb(93, 68, 68);
    border-collapse: collapse;
    border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
